* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url(../fontes/Montserrat-Thin.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url(../fontes/Montserrat-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fontes/Montserrat-Medium.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fontes/Montserrat-Bold.ttf);
    font-display: swap;
}

:root {
    --primary-white: #ffffff;
    --primary-yellow: #FAB013;
    --secundary-grey: #999999;
    --degrade: linear-gradient(318deg, #FF370A 0%, #FAB013 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

a {
    text-decoration: none;
    max-width: max-content;
}

/*Quem somos*/
#quem_somos {
    padding: 80px 0px 80px 0px;
    background-color: #111111;
    width: 100%;
}

.bg_quem_somos {
    position: absolute;
    top: 20px;
    width: 100%;
    max-width: max-content;
    z-index: 0;
    /*left: calc(20% - 200px);*/
    left: 0px;
}

.container_quem_somos {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.container_quem_somos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.area_quem_somos {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    position: relative;
}

.area_text_quem_somos {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    max-width: 540px;
    margin-top: 60px;
}

.title_quem_somos h2 {
    font-family: 'Montserrat-Thin';
    color: #FFF;
    font-size: 56px;
    font-weight: 100;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}

.sub_title_quem_somos h2 {
    font-size: 56px;
    line-height: normal;
    font-family: 'Montserrat-Thin';
    background: var(--degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin: 0px;
}

.quem_somos_1 {
    max-width: 598px;
    width: 100%;
    height: auto;
}

.area_box_quem_somos {
    position: absolute;
    background-color: #000000;
    width: 590px;
    height: 560px;
    bottom: -80px;
    left: 158px;
    padding: 80px 60px 80px 60px;
}

.area_text_box_quem_somos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    max-width: 450px;
    width: 100%;
}

.title_box_quem_somos h2 {
    color: #FFF;
    font-family: 'Montserrat-Thin';
    font-size: 32px;
    font-weight: 100;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}

.sub_title_box_quem_somos p {
    color: var(--primary-yellow);
    font-family: 'Montserrat-Medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

.btn_box {
    position: relative;
    padding: 15px 20px;
}

.btn_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    border: 2px solid transparent;
    background: linear-gradient(45deg, #FF370A, #FAB013) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) !important;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) !important;
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

/*
.btn_box {
    border: 2px solid transparent;
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 10em;
    width: 100%;
    max-width: max-content;
    padding: 10px 40px 10px 40px;
}

.gradiente {
    border-image-source: linear-gradient(45deg,#FF370A, #FAB013);
}
*/
.btn_box_text h2 {
    color: var(--primary-white);
    font-family: 'Montserrat-Bold';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
}

/*Texts quem somos*/
.container_texts {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #111111;
    padding: 40px 0px 40px 0px;
}

.container_texts_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1120px;
}

.area_texts {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.text_1 {
    max-width: 598px;
    width: 100%;
}

.text_1 p {
    color: var(--secundary-grey);
    font-family: 'Montserrat-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0px;
}

.text_2 {
    max-width: 598px;
    width: 100%;
}

.text_2 p {
    color: var(--secundary-grey);
    font-family: 'Montserrat-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0px;
}

/*Sevicos*/
.container_servicos {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #111111;
    padding: 20px 0px 60px 0px;
}

.container_servicos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.area_servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.servicos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1120px;
}

.area_numeracao {
    display: flex;
    align-items: center;
    gap: 100px;
}

.numero_servicos h2 {
    color: #FFF;
    font-family: 'Montserrat-Thin';
    font-size: 80px;
    font-weight: 100;
    line-height: normal;
    margin: 0px;
}

.title_servicos h2 {
    color: var(--primary-yellow);
    font-family: 'Montserrat-Medium';
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

.espacamento_title {
    padding-left: 18px;
}

.sub_title_servicos {
    max-width: 490px;
    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #999999;
    opacity: 0.1;
}

.sub_title_servicos p {
    color: var(--secundary-grey);
    font-family: 'Montserrat-Light';
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    margin: 0px;
}


/*Portfolio*/

#portfolio {
    padding: 60px 0px 60px 0px;
}

.container_portfolio {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_portfolio_int {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

.area_portfolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 40px 0px 40px 0px;
}

.area_texts_portfolio {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 760px;
}

.title_portfolio h2 {
    color: var(--primary-white);
    font-family: 'Montserrat-Thin';
    font-size: 56px;
    font-weight: 100;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}

.work {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: max-content;
    width: 100%;
    z-index: -1;
}

.area_veja_todos {
    display: flex;
    align-items: center;
}

.area_veja_todos a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.info_portfolio p {
    color: var(--primary-yellow);
    font-family: 'Montserrat-Bold';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}


.slide_porfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.slide-2 {
    max-width: 1600px;
}

.slide-2 .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.negocio_1 {
    background-image: url(../img/img_1.png);
    background-position: left;
    background-repeat: no-repeat;
    max-width: 360px;
    width: 100%;
    height: 560px;
    transition: all ease 400ms;
}

.negocio_1:hover {
    max-width: 100%;
}

.owl-item:hover {
    z-index: 1;
}

.teste {
    transition: all ease 400ms;

}

.teste:hover {
    width: 520px;
}

.negocio_2 {
    background-image: url(../img/img_1.png);
    background-position: left;
    background-repeat: no-repeat;
    max-width: 360px;
    width: 100%;
    height: 560px;
    transition: all ease 400ms;
}

.negocio_2:hover {
    max-width: 100%;
}

.teste2 {
    transition: all ease 400ms;

}

.teste2:hover {
    width: 520px;
}

.negocio_3 {
    background-image: url(../img/img_1.png);
    background-position: left;
    background-repeat: no-repeat;
    max-width: 360px;
    width: 100%;
    height: 560px;

}

.negocio_4 {
    background-image: url(../img/img_1.png);
    background-position: left;
    background-repeat: no-repeat;
    max-width: 360px;
    width: 100%;
    height: 560px;

}

/*Beneficios*/

.container_beneficios {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 40px 0px 40px 0px;
}

.container_beneficios_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1230px;
}

.area_beneficios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title_beneficios {
    width: 100%;
}

.title_beneficios h2 {
    color: var(--primary-white);
    font-family: 'Montserrat-Thin';
    font-size: 56px;
    text-align: left;
    font-weight: 100;
    line-height: normal;
    text-transform: uppercase;
    margin: 80px 0px 0px 0px;
}

.beneficios {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: max-content;
}

.area_qualidades {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    max-width: 860px;
    margin-top: 40px;
}

.qualidade {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 390px;
}

.area_title_qualidade {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title_qualidade h2 {
    color: var(--primary-yellow);
    font-family: 'Montserrat-Medium';
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

.sub_title_qualidade p {
    color: var(--secundary-grey);
    font-family: 'Montserrat-Light';
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    margin: 0px;
}


.bg_beneficios {
    position: absolute;
    z-index: -1;
    right: 0px;
    top: -400px;
    width: 100%;
    max-width: 550px;
}


/*Depoimentos*/

.container_depoimentos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
}

.container_depoimentos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
}

.area_depoimentos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 100%;
}

.bg_depoimentos {
    max-width: 260px;
    width: 100%;
}

.area_slide_depoimentos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.slide-3 {
    position: relative;
    z-index: 1;
    margin-left: -140px;
}

.slide-3  .owl-prev {
    position: absolute;
    left: 385px;
    bottom: 10px;
}

.slide-3 .owl-next {
    position: absolute;
    left: 455px;
    bottom: 10px;
}

.slide-3 .owl-prev.disabled img {
    background-color: var(--secundary-grey);
    border-radius: 100%;
    padding: 20px;
}

.slide-3 .owl-prev img {
    transition: all ease 300ms;
    background-color: var(--primary-yellow);
    border-radius: 100%;
    padding: 20px;
}

.slide-3 .owl-next.disabled img {
    background-color: var(--secundary-grey);
    border-radius: 100%;
    padding: 20px;
}

.slide-3 .owl-next img {
    transition: all ease 300ms;
    background-color: var(--primary-yellow);
    border-radius: 100%;
    padding: 20px;
}



.area_perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 40px 70px;
    position: relative;
}

.area_perfil::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    border: 3px solid transparent;
    background: linear-gradient(45deg,#FF370A, #FAB013) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.area_texts_perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.title_perfil h2 {
    color: var(--primary-white);
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

.sub_title_perfil p {
    color: var(--primary-yellow, #FAB013);
    font-family: 'Montserrat-Bold';
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}

.area_info_depoimentos {
    max-width: 600px;
    width: 100%;
}

.info_depoimentos p {
    color: var(--primary-white);
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    margin: 0px;
}


